In [18]:
import pandas as pd

In [19]:
poblacion = pd.read_csv('Cities_unified.csv')
poblacion

,Codigos,Provincias,Latitud,Longitud,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Araba/Álava,42.835126,-2.720603,321932,323648,324126,326574,328868,331549,333940,333626,334412,336308
1,2,Albacete,38.825409,-1.980373,396987,394580,392118,390032,388786,388167,388270,386464,385727,387529
2,3,Alicante/Alacant,38.478638,-0.568699,1868438,1855047,1836459,1825332,1838819,1858683,1879888,1881762,1901594,1955268
3,4,Almería,37.196085,-2.344813,701688,701211,704297,706672,709340,716820,727945,731792,740534,753364
4,5,Ávila,40.571037,-4.945535,167015,164925,162514,160700,158498,157640,157664,158421,158140,159764
5,6,Badajoz,38.709771,-6.141585,690929,686730,684113,679884,676376,673559,672137,669943,666971,666049
6,7,"Balears, Illes",39.575189,2.912292,1103442,1104479,1107220,1115999,1128908,1149460,1171543,1173008,1176659,1209906
7,8,Barcelona,41.731001,1.984054,5523784,5523922,5542680,5576037,5609350,5664579,5743402,5714730,5727615,5797356
8,9,Burgos,42.368713,-3.585742,366900,364002,360995,358171,357070,356958,357650,356055,355045,357370
9,10,Cáceres,39.711890,-6.160822,408703,406267,403665,400036,396487,394151,391850,389558,387805,388257
10,11,Cádiz,36.553873,-5.760418,1240175,1240284,1239889,1239435,1238714,1240155,1244049,1245960,1246781,1254866
11,12,Castellón/Castelló,40.241371,-0.146777,587508,582327,579245,575470,576898,579962,585590,587064,590616,604086
12,13,Ciudad Real,38.925613,-3.828098,519613,513713,506888,502578,499100,495761,495045,492591,490806,491927
13,14,Córdoba,37.992694,-4.809262,799402,795611,791610,788219,785240,782979,781451,776789,772464,775002
14,15,"Coruña, A",43.125796,-8.464284,1132735,1127196,1122799,1120294,1119351,1119596,1121815,1120134,1119180,1123884
15,16,Cuenca,39.896050,-2.195672,207449,203841,201071,198718,197222,196329,196139,195516,195215,198436
16,17,Girona,42.128012,2.673556,756156,753054,753576,755716,761947,771044,781788,786596,793478,808672
17,18,Granada,37.312517,-3.267881,919455,917297,915392,912938,912075,914678,919168,921338,921987,934072
18,19,Guadalajara,40.813450,-2.623689,255426,253686,252882,253310,254308,257762,261995,265588,268127,275082
19,20,Gipuzkoa,43.143776,-2.194178,715148,716834,717832,719282,720592,723576,727121,726033,724418,726712
20,21,Huelva,37.577179,-6.829302,519229,520017,519596,518930,519932,521870,524278,525835,528763,534084
21,22,Huesca,42.203056,-0.072887,224909,222909,221079,219702,219345,220461,222687,224264,225456,226878
22,23,Jaén,38.016512,-3.441692,659033,654170,648250,643484,638099,633564,631381,627190,623761,620637
23,24,León,42.619955,-5.839881,484694,479395,473604,468316,463746,460001,456439,451706,448179,448573
24,25,Lleida,42.043969,1.047982,438001,436029,434041,432384,432866,434930,438517,439727,441443,447343
25,26,"Rioja, La",42.274871,-2.517044,319002,317053,315794,315381,315675,316798,319914,319796,319892,322282
26,27,Lugo,43.011764,-7.446384,342748,339386,336527,333634,331327,329587,327946,326013,323989,324267
27,28,Madrid,40.495087,-3.717046,6454440,6436996,6466996,6507184,6578079,6663394,6779888,6751251,6750336,6871903
28,29,Málaga,36.813859,-4.725862,1621968,1628973,1629298,1630615,1641121,1661785,1685920,1695651,1717504,1752728
29,30,Murcia,38.002368,-1.485756,1466818,1467288,1464847,1470273,1478509,1493898,1511251,1518486,1531878,1551692
30,31,Navarra,42.667201,-1.646114,640790,640476,640647,643234,647554,654214,661197,661537,664117,672155
31,32,Ourense,42.196450,-7.592598,322293,318391,314853,311680,309293,307651,306650,305223,304280,304563
32,33,Asturias,43.292358,-5.993509,1061756,1051229,1042608,1034960,1028244,1022800,1018784,1011792,1004686,1006060
33,34,Palencia,42.371834,-4.535857,167609,166035,164644,163390,162035,160980,160321,159123,158008,157787
34,35,"Palmas, Las",28.362493,-14.550993,1100027,1098406,1097800,1100480,1109175,1120406,1131065,1128539,1129395,1145843
35,36,Pontevedra,42.435765,-8.461063,950919,947374,944346,942731,941772,942665,945408,944275,943015,946710
36,37,Salamanca,40.804989,-6.065412,342459,339395,335985,333603,331473,330119,329245,327338,325898,327089
37,38,Santa Cruz de Tenerife,28.312557,-17.017857,1004788,1001900,1004124,1007641,1018510,1032983,1044887,1044405,1048306,1067173
38,39,Cantabria,43.197522,-4.030021,588656,585179,582206,580295,580229,581078,582905,584507,585402,588387
39,40,Segovia,41.171025,-4.054151,159303,157570,155652,154184,153342,153129,153478,153663,153803,155332
40,41,Sevilla,37.435670,-5.682773,1941355,1941480,1939775,1939527,1939887,1942389,1950219,1947852,1948393,1959394
41,42,Soria,41.620774,-2.588743,92221,91006,90040,88903,88600,88636,88884,88747,88377,89528
42,43,Tarragona,41.087614,0.818128,800962,795101,792299,791693,795902,804664,816772,822309,830075,848592
43,44,Teruel,40.661262,-0.815532,140365,138932,136977,135562,134572,134137,134176,134545,134421,135046
44,45,Toledo,39.793734,-4.148156,699136,693371,688672,686841,687391,694844,703772,709403,713453,731112
45,46,Valencia/València,39.370256,-0.800790,2548898,2543315,2544264,2540707,2547986,2565124,2591875,2589312,2605757,2656841
46,47,Valladolid,41.634126,-4.847191,529157,526288,523679,521130,519851,519546,520649,519361,517975,521333
47,48,Bizkaia,43.237680,-2.852600,1151905,1148775,1147576,1148302,1149628,1152651,1159443,1154334,1149344,1153282
48,49,Zamora,41.727174,-5.980539,185432,183436,180406,177404,174549,172539,170588,168725,167215,166927
49,50,Zaragoza,41.620365,-1.064497,960111,956006,950507,953486,954811,964693,972528,967452,966438,979365
50,51,Ceuta,35.893407,-5.343424,84963,84263,84519,84959,85144,84777,84202,83517,83117,83052
51,52,Melilla,35.290828,-2.950536,84509,85584,86026,86120,86384,86487,87076,86261,85170,85493
52,0,TOTAL ESPAÑA,39.695119,-3.202023,46771341,46624382,46557008,46572132,46722980,47026208,47450795,47385107,47475420,48085361

In [20]:
coordenadas = pd.read_csv('Cities_unified.csv', header = 0, delimiter = ',')
coordenadas.head()

,Codigos,Provincias,Latitud,Longitud,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Araba/Álava,42.835126,-2.720603,321932,323648,324126,326574,328868,331549,333940,333626,334412,336308
1,2,Albacete,38.825409,-1.980373,396987,394580,392118,390032,388786,388167,388270,386464,385727,387529
2,3,Alicante/Alacant,38.478638,-0.568699,1868438,1855047,1836459,1825332,1838819,1858683,1879888,1881762,1901594,1955268
3,4,Almería,37.196085,-2.344813,701688,701211,704297,706672,709340,716820,727945,731792,740534,753364
4,5,Ávila,40.571037,-4.945535,167015,164925,162514,160700,158498,157640,157664,158421,158140,159764

In [21]:
real = pd.DataFrame()
for año in range (2014,2024):
    name = './DatosESIOS/DemandaReal/export_DemandaReal_' + str (año) +'_cambiohora.csv'
    aux = pd.read_csv(name, header=0, delimiter = ';')
    real = pd.concat([real,aux])
real = real.reset_index(drop=True)
real

,id,name,geoid,geoname,value,datetime
0,1293,Demanda real,NaN,NaN,24301.66667,2014-01-01T00:00:00+01:00
1,1293,Demanda real,NaN,NaN,23365.33333,2014-01-01T01:00:00+01:00
2,1293,Demanda real,NaN,NaN,21672.50000,2014-01-01T02:00:00+01:00
3,1293,Demanda real,NaN,NaN,20192.00000,2014-01-01T03:00:00+01:00
4,1293,Demanda real,NaN,NaN,19220.66667,2014-01-01T04:00:00+01:00
...,...,...,...,...,...,...
87643,1293,Demanda real,NaN,NaN,29135.66667,2023-12-31T19:00:00+01:00
87644,1293,Demanda real,NaN,NaN,28703.50000,2023-12-31T20:00:00+01:00
87645,1293,Demanda real,NaN,NaN,27423.16667,2023-12-31T21:00:00+01:00
87646,1293,Demanda real,NaN,NaN,24613.91667,2023-12-31T22:00:00+01:00
87647,1293,Demanda real,NaN,NaN,23074.50000,2023-12-31T23:00:00+01:00

In [22]:
prevista = pd.DataFrame()
for año in range (2014,2024):
    name = './DatosESIOS/DemandaPrevista/export_DemandaPrevista_' + str (año) +'_cambiohora.csv'
    aux = pd.read_csv(name, header=0, delimiter = ';')
    prevista = pd.concat([prevista,aux])
prevista = prevista.reset_index(drop=True)
prevista

,id,name,geoid,geoname,value,datetime
0,544,Demanda prevista,NaN,NaN,23878.33333,2014-01-01T00:00:00+01:00
1,544,Demanda prevista,NaN,NaN,23322.00000,2014-01-01T01:00:00+01:00
2,544,Demanda prevista,NaN,NaN,21711.16667,2014-01-01T02:00:00+01:00
3,544,Demanda prevista,NaN,NaN,20230.33333,2014-01-01T03:00:00+01:00
4,544,Demanda prevista,NaN,NaN,19215.33333,2014-01-01T04:00:00+01:00
...,...,...,...,...,...,...
87643,544,Demanda prevista,NaN,NaN,29131.16667,2023-12-31T19:00:00+01:00
87644,544,Demanda prevista,NaN,NaN,28538.83333,2023-12-31T20:00:00+01:00
87645,544,Demanda prevista,NaN,NaN,26992.16667,2023-12-31T21:00:00+01:00
87646,544,Demanda prevista,NaN,NaN,24138.58333,2023-12-31T22:00:00+01:00
87647,544,Demanda prevista,NaN,NaN,22742.66667,2023-12-31T23:00:00+01:00

In [24]:
prevista_d1 = pd.DataFrame()
for año in range (2019,2024):
    name = './DatosESIOS/DemandaD+1/export_PrevisionDiariaD+1Demanda_' + str (año) +'.csv'
    aux = pd.read_csv(name, header=0, delimiter = ';')
    prevista_d1 = pd.concat([prevista_d1,aux])
prevista_d1 = prevista_d1.reset_index(drop=True)
prevista_d1

,id,name,geoid,geoname,value,datetime
0,1775,Previsión diaria D+1 demanda,NaN,NaN,23753.0,2019-01-01T00:00:00+01:00
1,1775,Previsión diaria D+1 demanda,NaN,NaN,23018.0,2019-01-01T01:00:00+01:00
2,1775,Previsión diaria D+1 demanda,NaN,NaN,21808.0,2019-01-01T02:00:00+01:00
3,1775,Previsión diaria D+1 demanda,NaN,NaN,20635.0,2019-01-01T03:00:00+01:00
4,1775,Previsión diaria D+1 demanda,NaN,NaN,19824.0,2019-01-01T04:00:00+01:00
...,...,...,...,...,...,...
43819,1775,Previsión diaria D+1 demanda,NaN,NaN,29409.5,2023-12-31T19:00:00+01:00
43820,1775,Previsión diaria D+1 demanda,NaN,NaN,28925.0,2023-12-31T20:00:00+01:00
43821,1775,Previsión diaria D+1 demanda,NaN,NaN,27363.5,2023-12-31T21:00:00+01:00
43822,1775,Previsión diaria D+1 demanda,NaN,NaN,24467.5,2023-12-31T22:00:00+01:00
43823,1775,Previsión diaria D+1 demanda,NaN,NaN,22996.8,2023-12-31T23:00:00+01:00

In [7]:
programada = pd.DataFrame()
for año in range (2014,2024):
    name = './DatosESIOS/DemandaProgramada/export_DemandaProgramada_' + str (año) +'.csv'
    aux = pd.read_csv(name, header=0, delimiter = ';')
    programada = pd.concat([programada,aux])
programada = programada.reset_index(drop=True)
programada

,id,name,geoid,geoname,value,datetime
0,545,Demanda programada,NaN,NaN,24099.00,2014-01-01T00:00:00+01:00
1,545,Demanda programada,NaN,NaN,22269.00,2014-01-01T01:00:00+01:00
2,545,Demanda programada,NaN,NaN,21136.00,2014-01-01T02:00:00+01:00
3,545,Demanda programada,NaN,NaN,19911.00,2014-01-01T03:00:00+01:00
4,545,Demanda programada,NaN,NaN,19060.00,2014-01-01T04:00:00+01:00
...,...,...,...,...,...,...
87643,545,Demanda programada,NaN,NaN,28913.00,2023-12-31T19:00:00+01:00
87644,545,Demanda programada,NaN,NaN,28504.00,2023-12-31T20:00:00+01:00
87645,545,Demanda programada,NaN,NaN,27230.50,2023-12-31T21:00:00+01:00
87646,545,Demanda programada,NaN,NaN,24354.00,2023-12-31T22:00:00+01:00
87647,545,Demanda programada,NaN,NaN,22655.25,2023-12-31T23:00:00+01:00

In [8]:
precio = pd.DataFrame()
for año in range (2014,2024):
    name = './DatosESIOS/Precio/export_HourlyAveragePrice_' + str (año) +'.csv'
    aux = pd.read_csv(name, header=0, delimiter = ';')
    precio = pd.concat([precio,aux])
precio = precio.reset_index(drop=True)
precio

,id,name,geoid,geoname,value,datetime
0,10211,Hourly average price final sum of components,NaN,NaN,37.21,2014-01-01T00:00:00+01:00
1,10211,Hourly average price final sum of components,NaN,NaN,30.57,2014-01-01T01:00:00+01:00
2,10211,Hourly average price final sum of components,NaN,NaN,26.30,2014-01-01T02:00:00+01:00
3,10211,Hourly average price final sum of components,NaN,NaN,26.18,2014-01-01T03:00:00+01:00
4,10211,Hourly average price final sum of components,NaN,NaN,22.40,2014-01-01T04:00:00+01:00
...,...,...,...,...,...,...
87643,10211,Hourly average price final sum of components,NaN,NaN,109.07,2023-12-31T19:00:00+01:00
87644,10211,Hourly average price final sum of components,NaN,NaN,101.69,2023-12-31T20:00:00+01:00
87645,10211,Hourly average price final sum of components,NaN,NaN,92.69,2023-12-31T21:00:00+01:00
87646,10211,Hourly average price final sum of components,NaN,NaN,86.82,2023-12-31T22:00:00+01:00
87647,10211,Hourly average price final sum of components,NaN,NaN,81.85,2023-12-31T23:00:00+01:00

In [9]:
import openmeteo_requests

import requests_cache
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

meteo = pd.DataFrame()

for i in range (len(coordenadas)):
    # Make sure all required weather variables are listed here
    # The order of variables in hourly or daily is important to assign them correctly below
    url = "https://archive-api.open-meteo.com/v1/archive"
    params = {
        "latitude": coordenadas['Latitud'][i],
        "longitude": coordenadas['Longitud'][i],
        "start_date": "2014-01-01",
        "end_date": "2024-01-01",
        "hourly": ["temperature_2m", "direct_normal_irradiance_instant", "wind_speed_100m"],
        "timezone": "auto"
    }
    responses = openmeteo.weather_api(url, params=params)

    # Process first location. Add a for-loop for multiple locations or weather models
    response = responses[0]
    print (coordenadas['Codigos'][i], coordenadas['Provincias'][i])
    #print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
    #print(f"Elevation {response.Elevation()} m asl")
    #print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
    #print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

    # Process hourly data. The order of variables needs to be the same as requested.
    hourly = response.Hourly()
    hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
    hourly_direct_normal_irradiance_instant = hourly.Variables(1).ValuesAsNumpy()
    hourly_wind_speed_100m = hourly.Variables(2).ValuesAsNumpy()

    hourly_data = {"date": pd.date_range(
        start = pd.to_datetime(hourly.Time(), unit = "s", utc = False),
        end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = False),
        freq = pd.Timedelta(seconds = hourly.Interval()),
    )}

    dates_list = list(hourly_data["date"])
    dates_list.pop(0)
    hourly_data["date"] = pd.DatetimeIndex(dates_list)

    hourly_data["temperature_2m"] = hourly_temperature_2m
    hourly_data["direct_normal_irradiance_instant"] = hourly_direct_normal_irradiance_instant
    hourly_data["precipitation"] = hourly_wind_speed_100m

#     print("Length of hourly arrays:")
#     print("Hourly:", hourly_data["date"][1])
#     print("temperature_2m:", len(hourly_temperature_2m))
#     print("apparent_temperature:", len(hourly_apparent_temperature))
#     print("precipitation:", len(hourly_precipitation))

    hourly_dataframe = pd.DataFrame(data = hourly_data)
    meteo['Datetime'] = hourly_data['date']
    meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
    meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
    meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

1 Araba/Álava
2 Albacete
3 Alicante/Alacant
4 Almería
5 Ávila
6 Badajoz
7 Balears, Illes
8 Barcelona
9 Burgos
10 Cáceres
11 Cádiz
12 Castellón/Castelló
13 Ciudad Real
14 Córdoba
15 Coruña, A
16 Cuenca
17 Girona
18 Granada
19 Guadalajara
20 Gipuzkoa
21 Huelva
22 Huesca
23 Jaén
24 León
25 Lleida
26 Rioja, La
27 Lugo
28 Madrid
29 Málaga
30 Murcia
31 Navarra
32 Ourense
33 Asturias
34 Palencia

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

35 Palmas, Las

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

36 Pontevedra

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

37 Salamanca

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

38 Santa Cruz de Tenerife

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

39 Cantabria

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

40 Segovia

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

41 Sevilla

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

42 Soria

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

43 Tarragona

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

44 Teruel

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

45 Toledo

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

46 Valencia/València

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

47 Valladolid

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

48 Bizkaia

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

49 Zamora

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

50 Zaragoza

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

51 Ceuta

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

52 Melilla

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

0 TOTAL ESPAÑA

C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:63: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['temperature_2m_' + str(coordenadas['Codigos'][i])] = hourly_temperature_2m
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:64: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['direct_normal_irradiance_instant_' + str(coordenadas['Codigos'][i])] = hourly_direct_normal_irradiance_instant
C:\Users\david\AppData\Local\Temp/ipykernel_19716/3292958552.py:65: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  meteo['wind_speed_100m_' + str(coordenadas['Codigos'][i])] = hourly_wind_speed_100m

In [10]:
years = [x for x in range (2014,2024)]
meteo = meteo[meteo['Datetime'].dt.year.isin(years)]
meteo = meteo.reset_index(drop=True)

In [11]:
meteo.to_csv('meteo.csv', index=False)

In [15]:
names = ["temperature_2m_", "direct_normal_irradiance_instant_", "wind_speed_100m_"]
sumapoblaciones = {}
for year in range (2014,2024):
    sumapoblaciones[year] = sum(poblacion[str(year)][:-1])
print (sumapoblaciones)
years = meteo['Datetime'].dt.year
meteo_0 = {'temperature_2m_0': [], 'direct_normal_irradiance_instant_0': [], 'wind_speed_100m_0': []}
for name in names:
    print (name)
    for i,daytime in enumerate (meteo['Datetime']):
        suma = 0
        for code in poblacion['Codigos']:
            if code == 0: 
                continue
#             print (meteo[name+str(code)][0])
#             print (poblacion[str(years[i])][code-1])
            suma += meteo[name+str(code)][i]*poblacion[str(years[i])][code-1]
        suma/=sumapoblaciones[years[i]]
        meteo_0[name + '0'].append(suma)
print (meteo_0)

{2014: 46771341, 2015: 46624382, 2016: 46557008, 2017: 46572132, 2018: 46722980, 2019: 47026208, 2020: 47450795, 2021: 47385107, 2022: 47475420, 2023: 48085361}
temperature_2m_
direct_normal_irradiance_instant_
wind_speed_100m_

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [16]:
meteo['temperature_2m_0'] = meteo_0 ['temperature_2m_0']
meteo['direct_normal_irradiance_instant_0'] = meteo_0['direct_normal_irradiance_instant_0']
meteo['wind_speed_100m_0'] = meteo_0['wind_speed_100m_0']

In [25]:
demanda_meteo = pd.DataFrame()
demanda_meteo['Datetime'] = meteo['Datetime']
demanda_meteo['Demanda Real'] = real ['value']
demanda_meteo['Demanda Prevista'] = prevista ['value']
demanda_meteo['Demanda Programada'] = programada ['value']
d_d1 = []
for i in range (len(demanda_meteo[demanda_meteo['Datetime'].dt.year <= 2018])):
    if demanda_meteo['Datetime'][i].year:
        d_d1.append(0)
d_d1 += list(prevista_d1['value'])
demanda_meteo['Demanda D+1'] = pd.Series(d_d1)
demanda_meteo['Precio'] = precio ['value']
for name in meteo.columns:
    if name == 'Datetime':
        continue
    else:
        demanda_meteo[name] = meteo[name]
demanda_meteo

C:\Users\david\AppData\Local\Temp/ipykernel_19716/2136235471.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  demanda_meteo[name] = meteo[name]

,Datetime,Demanda Real,Demanda Prevista,Demanda Programada,Demanda D+1,Precio,temperature_2m_1,direct_normal_irradiance_instant_1,wind_speed_100m_1,temperature_2m_2,...,wind_speed_100m_50,temperature_2m_51,direct_normal_irradiance_instant_51,wind_speed_100m_51,temperature_2m_52,direct_normal_irradiance_instant_52,wind_speed_100m_52,temperature_2m_0,direct_normal_irradiance_instant_0,wind_speed_100m_0
0,2014-01-01 00:00:00,24301.66667,23878.33333,24099.00,0.0,37.21,7.4985,0.0,16.099689,7.874,...,30.758411,11.714001,0.0,17.339897,10.032000,0.0,11.659777,5.791485,0.0,18.565381
1,2014-01-01 01:00:00,23365.33333,23322.00000,22269.00,0.0,30.57,7.0485,0.0,17.388409,7.724,...,30.312773,11.614000,0.0,18.000000,9.731999,0.0,10.661107,5.709594,0.0,18.443398
2,2014-01-01 02:00:00,21672.50000,21711.16667,21136.00,0.0,26.30,7.3985,0.0,19.319628,7.574,...,27.792374,11.564000,0.0,17.651016,9.932000,0.0,11.212135,5.620734,0.0,18.401250
3,2014-01-01 03:00:00,20192.00000,20230.33333,19911.00,0.0,26.18,7.3485,0.0,20.140705,7.424,...,25.772078,11.464001,0.0,18.430452,10.432000,0.0,12.620554,5.597380,0.0,18.198554
4,2014-01-01 04:00:00,19220.66667,19215.33333,19060.00,0.0,22.40,7.4985,0.0,21.995380,7.374,...,23.732710,11.464001,0.0,18.161278,10.582000,0.0,14.058450,5.656951,0.0,18.100382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87643,2023-12-31 19:00:00,29135.66667,29131.16667,28913.00,29409.5,109.07,6.0145,0.0,10.137692,8.626,...,19.039200,15.323999,0.0,14.154915,15.515000,0.0,25.050413,8.350744,0.0,16.116332
87644,2023-12-31 20:00:00,28703.50000,28538.83333,28504.00,28925.0,101.69,6.1145,0.0,2.741678,8.376,...,16.516901,15.374000,0.0,10.495713,15.515000,0.0,23.623243,8.087325,0.0,14.814726
87645,2023-12-31 21:00:00,27423.16667,26992.16667,27230.50,27363.5,92.69,4.1145,0.0,5.411986,8.326,...,13.556282,14.974000,0.0,8.557102,15.515000,0.0,23.623243,7.461672,0.0,13.838921
87646,2023-12-31 22:00:00,24613.91667,24138.58333,24354.00,24467.5,86.82,4.9145,0.0,6.130579,8.126,...,13.708391,14.974000,0.0,5.959060,15.665000,0.0,22.751316,7.525395,0.0,12.934626
87647,2023-12-31 23:00:00,23074.50000,22742.66667,22655.25,22996.8,81.85,4.6645,0.0,7.517021,8.076,...,14.489720,15.174000,0.0,5.860375,15.915000,0.0,20.969805,7.032156,0.0,12.272455

In [26]:
demanda_meteo.to_csv('demanda_meteo.csv', index=False)